@import "compass";

$content-margin: 2px;

.horizontal-panel {
	@include display-box;
	@include box-orient(horizontal);
}

.vertical-panel {
	@include display-box;
	@include box-orient(vertical);
}

.top-main-content {
	margin: $content-margin;
}

.top-header {
	margin: $content-margin;
}

.top-browse {
	margin: $content-margin;
}

.top-command {
	margin: $content-margin;

    .console-panel {
        margin: 1px;
        width: 320px;
        height: 240px;
    }
}