@import "compass";

.horizontal-panel {
	@include display-box;
	@include box-orient(horizontal);
}

.vertical-panel {
	@include display-box;
	@include box-orient(vertical);
}

.top-main-content {
	margin: 5px;
}

.console-panel {
	width: 200px;
	height: 120px;
}